{% if user and user.is_authenticated %}
    {% include 'baseLogin.html' %}
{% else %}
    {% include 'base.html' %}
    <h>Please Login!</h>
{% endif %}

{% load static %}
{% block content %}
    <body>
    <div>
        <div>
            <div><img src="{% static total.picture %}" style="position: relative; left: 350px; height: 200px; width: 150px"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <section>
                        <h3>{{ total.name }}</h3>
                        <div>
                        <ul>
                            <li>City: {{ total.city }}</li>
                            <li>Price: {{ total.price }}</li>
                            {% for item in total.amenities %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    </section>
                </div>
                {% if request.session.role == 'guest' %}
                    <div class="col-lg-3">
                        <div id="booking">
                            <section>
                                <button onclick="window.location.href='{% url 'booking' listing_id %}'" type="submit" class="btn btn-default btn-link">book</button>
                            </section>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
{% endblock %}