{% if user and user.is_authenticated %}
    {% include 'baseLogin.html' %}
    {% load static %}
    {% block content %}
        <body style="background-image: url({% static 'background/background.jpg' %});">
            <div class="container">
                <table class="table">
                    <tr>
                        <td>property name</td>
                        <td>property locations</td>
                    </tr>
                    {% for item in listings %}
                        <form id="form_{{ forloop.counter }}" action="/listingManage/" method="post">
                        {% csrf_token %}
                        <tr>
                            <td><label><a href="{% url 'listingInfo' item.0 %}">{{ item.2 }}</a> </label></td>
                            <td><label> {{ item.1 }} </label></td>
                            <input type="hidden" name="listing_id" value={{ item.0 }}>
                            <input type="hidden" name="delete" value=0 id="delete_{{ forloop.counter }}">
                            <td><input type="submit" value="reload"></td>
                            <td><button id="delete" value="{{ forloop.counter }}">Delete</button></td>
                        </tr>
                        </form>
                    {% endfor %}
                </table>
                <form action="/listingManage/" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="listing_id" value=-1>
                    <input type="hidden" name="delete" value=0>
                    <input type="submit" value="Add a new listing">
                </form>
            </div>
            <script>
                $('#delete').click(function (e) {
                    var counter = $(e.target).val();
                    $('#delete_' + counter).val("1");
                    $('#form_' + counter).submit();
                })
            </script>
        </body>
    {% endblock %}
{% else %}
    {% include 'base.html' %}
    <h>Please login!</h>
{% endif %}